source/botConfig.json
log/
trashbox/
dist/
git-filter-repo
**/scriptsConfig.json
node_modules/
dist - Copy/
database.db
source/scripts/RIBA/gifLolList.json
output.wav
speech.mp3
source/scripts/SECRET/
source/scripts/TEST/
